<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback" debug="false">
    <springProfile name="!dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-25.25logger{25} | %msg%n)</pattern>
            </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>gateway.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/gateway_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-25.25logger{25} | %msg%n)</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
